[submodule "packages/render-api"]
	path = packages/render-api
	url = https://github.com/feng3d-labs/render-api.git
[submodule "packages/tsl"]
	path = packages/tsl
	url = https://github.com/feng3d-labs/tsl.git
